@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  overflow-x: hidden
}


.items{
  display: flex;;
}

.items button{
  border-radius: 0px;
}

nav{
  position: fixed;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  }

.next{
    height: 100vh;
}

.main{
  height: 100vh;
}

.main h1{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
  position: relative;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

  
  
  