:root {
    --primary: #5468ff;
    --secondary: #378ce7;
    --tertiary: #D3D9FF;
    --dark_primary: #3F57FF;
    --primary_light: #5468ff1a
}



.playfair-bold {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.skew{
    content: '';
    display: block;
    width: 80px;
    height: 110%;
    background-color: var(--primary);
    transform: skewX(-45deg);
    border-radius: 12px 0;
}

.skew::after{
    content: '';
    display: block;
    width: 80px;
    height: 110%;
    background-color: var(--primary);
    position: absolute;
    left: 50px;
}

.text-sideways{
    writing-mode: vertical-lr!important;
    text-orientation: mixed;
    transform: rotate(180deg);
    text-transform: capitalize!important;
}

.profile{
    filter: grayscale(100%) drop-shadow(5px 5px 5px #222);
    transition: all 0.3s ease-in-out;

}






