:root {
    /* --primary: #5468ff;
    --secondary: #378ce7;
    --tertiary: #D3D9FF;
    --dark_primary: #3F57FF;
    --primary_light: #5468ff1a; */
    --primary: #5468ff;
    /* Base Color */
    --light: #7884ff;
    /* Lighter Tint */
    --lighter: #9ca0ff;
    /* Light Tint */

    --lightest: #c0bcff;
    /* Pale Tint */
    --soft: #e4d8ff;
    /* Soft Tint */
    --dark: #4458e5;
    /* Darker Shade */
    --darker: #3749cc;
    /* Deep Shade */
    --darkest: #2b3ab2;
    /* Dark Shade */
    --muted: #202d99;
    /* Muted Shade */
    --deep: #161f7f;
    /* Deep Muted Shade */
}



.playfair-bold {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.skew {
    content: '';
    display: block;
    width: 80px;
    height: 110%;
    background-color: var(--primary);
    transform: skewX(-45deg);
    border-radius: 12px 0;
}

.skew::after {
    content: '';
    display: block;
    width: 80px;
    height: 110%;
    background-color: var(--primary);
    position: absolute;
    left: 50px;
}

.text-sideways {
    writing-mode: vertical-lr !important;
    text-orientation: mixed;
    transform: rotate(180deg);
    text-transform: capitalize !important;
}

.profile {
    filter: grayscale(100%) drop-shadow(5px 5px 5px #222);
    transition: all 0.3s ease-in-out;

}

.svg-bg {
    --c1: var(--primary);
    /* Base Color */
    --c2: var(--light);
    /* Lighter Tint */
    --c3: var(--lighter);
    /* Light Tint */
    --c4: var(--lightest);
    /* Pale Tint */
    --c5: var(--soft);
    /* Soft Tint */
    --c6: var(--dark);
    /* Darker Shade */
    --c7:  var(--darker);
    /* Deep Shade */
    --c8: var(--darkest);
    /* Dark Shade */
    --c9: var(--muted);
    /* Muted Shade */
    --c10: var(--deep);
    /* Deep Muted Shade */

}

.svg-bg .st5 {
    fill: #fff
}

.svg-bg .st0 {
    fill: #0a9396;
    fill: var(--c1)
}

.svg-bg .st1 {
    fill: #94d2bd;
    fill: var(--c2, var(--c1))
}

.svg-bg .st2 {
    fill: #ae2112;
    fill: var(--c3, var(--c2, var(--c1)))
}

.svg-bg .st3 {
    fill: #ee9b00;
    fill: var(--c4, var(--c2, var(--c1)))
}

.svg-bg .st4 {
    fill: #9a2226;
    fill: var(--c5, var(--c3, var(--c1)))
}

.svg-bg .st6 {
    fill: #bb3e04;
    fill: var(--c6, var(--c5, var(--c3, var(--c1))))
}

.svg-bg .st7 {
    fill: #015f73;
    fill: var(--c7, var(--c4, var(--c2, var(--c1))))
}

.svg-bg .st8 {
    fill: #bb3e04;
    fill: var(--c8, var(--c5, var(--c3, var(--c1))))
}

.svg-bg .st9 {
    fill: #bb3e04;
    fill: var(--c9, var(--c7, var(--c5, var(--c3, var(--c1)))))
}

.svg-bg .st10 {
    fill: #bb3e04;
    fill: var(--c10, var(--c8, var(--c6, var(--c4, var(--c2, var(--c1))))))
}

/* Gradient */
.top-right-box::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 30%, var(--deep) 100%);
    z-index: 1;
}

